# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual environment
.venv/
.venv3.12/
venv/
.env
ENV/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3-journal

# Media files
media/
media/**

helper/
db_backup/dump.sql
plans.txt
# Django migrations (если хочешь их хранить, то удаляй этот блок)
# **Обычно миграции хранить нужно**, поэтому оставь закомментированным**
# */migrations/
# */migrations/**
db_backup/
# PyCharm
.idea/
*.iml
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Cache
*.cache/
.cache/
