{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-2">
    <input
        type="text"
        id="searchInput"
        class="form-control mb-4"
        placeholder="Поиск английских слов ..."
        data-api-url="{% url 'dictionary:dictionary_api' %}"
    >

    <div id="wordsContainer"></div>

    <div id="loader" class="text-center my-4" style="display:none;">
        Loading...
    </div>

    <div id="sentinel" style="height:1px;"></div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'dictionary/js/dictionary.js' %}"></script>
{% endblock %}